<table>
  <tbody>
  <tr><th><%= t(".user_email") %></th><th><%= t(".user_wallet") %></th><th><%= t(".user_amount") %></th></tr>
  <tr><th><%= @user_email %></th><th><%= @wallet %></th><th><%= @amount %></th></tr>
  </tbody>
</table>